
{% extends "auth.html" %}

{% block title %}
Register
{% endblock title %}

{% block page_title %}
Register Now
{% endblock page_title %}


{% block content %}
 <div class="mx-4" id="toast">
    {% for message in messages %}
    <div class="alert alert-danger" role="alert"><strong>Error! </strong>{{ message }}</div>
    {% endfor %}
</div>
<form action="" method="post" id="staffForm">
    {% csrf_token %}
    {% include 'form.html' with form=staff_form %}
    <div class="buttons-w" style="text-align:right">
        <button class="btn btn-primary">Register <i class="os-icon os-icon-log-in"></i></button>
    </div>
</form>
<form action="" method="post" id="stdForm">
    {% csrf_token %}
    {% include 'form.html' with form=student_form %}
    <div class="buttons-w" style="text-align:right">
        <button class="btn btn-primary">Register <i class="os-icon os-icon-log-in"></i></button>
    </div>
</form>
<div class="bg-dark rounded text-white row" style="margin: 0px 1px;">
    <button class="col-6 btn btn-primary text-center text-white" id="stdbtn">Student</button>
    <button class="col-6 btn btn-primary text-center text-white" id="staffbtn">Staff</button>
</div>
{% endblock content %}

{% block ajax %}
$("#toast").fadeIn(3000);
$("#toast").fadeOut(3000);
$("#staffForm").hide();

$("#stdbtn").click(function(){
    $("#staffForm").hide();
    $("#stdForm").show();
});
$("#staffbtn").click(function(){
    $("#staffForm").show();
    $("#stdForm").hide();
});
{% endblock ajax %}