{% extends "auth.html" %}

{% block title %}
Login
{% endblock title %}

{% block page_title %}
Login
{% endblock page_title %}


{% block content %}
<div id="toast">
    {% for message in messages %}
    <div class="alert alert-info" role="alert"><strong>Message: </strong><i>{{ message }}</i></div>
    {% endfor %}
</div>
<form action="" method="post">
    {% csrf_token %}
    {% include 'form.html' with form=form %}

    <div class="row">
        <div class="col-6" style="text-align:left">
            <a href="{% url 'Attendance:forgot_password' %}">Forgot Password?</a>
        </div>
        <div class="col-6" style="text-align:right">
            <button class="btn btn-primary">Login <i class="os-icon os-icon-log-in"></i></button>
        </div>
    </div>
</form>
{% endblock content %}

{% block ajax %}
$("#toast").fadeIn(3000);
$("#toast").fadeOut(3000);
{% endblock ajax %}