{% extends "auth.html" %}

{% block title %}
Forgot Password
{% endblock title %}

{% block page_title %}
Forgot Password
{% endblock page_title %}


{% block content %}
 <div class="mx-4" id="toast">
    {% for message in messages %}
    <div class="alert alert-danger" role="alert"><strong>Error! </strong>{{ message }}</div>
    {% endfor %}
</div>
<form action="" method="post">
    {% csrf_token %}
    {% include 'form.html' with form=form %}
    <div class="buttons-w" style="text-align:right">
        <button class="btn btn-primary">Submit <i class="os-icon os-icon-log-in"></i></button>
    </div>
</form>
{% endblock content %}

{% block ajax %}
$("#toast").fadeIn(3000);
$("#toast").fadeOut(3000);
{% endblock ajax %}