{% extends "auth.html" %}

{% block title %}
Update Password
{% endblock title %}

{% block page_title %}
Update Password
{% endblock page_title %}


{% block content %}
<div id="toast">
    {% for message in messages %}
    <div class="alert alert-info" role="alert"><strong>Message: </strong><i>{{ message }}</i></div>
    {% endfor %}
</div>
<form action="" method="post">
    {% csrf_token %}
    {% include 'form.html' with form=form %}
    <div class="buttons-w" style="text-align:right">
        <button class="btn btn-primary">Submit <i class="os-icon os-icon-log-in"></i></button>
    </div>
</form>
{% endblock content %}

{% block ajax %}
$("#toast").fadeIn(3000);
$("#toast").fadeOut(3000);
{% endblock ajax %}