{% extends "base.html" %}

{% block title %}
Attendance Slip
{% endblock title %}

{% block page_title %}
Attendance Slip
{% endblock page_title %}

{% block date %}
{{ date }}
{% endblock date %}

{% block content %}
<div id="toast">
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
</div>

<div class="row" style="{% if not student_record %}height:450px{% endif %}">
    <div class="col-sm-7">
        <div class="element-wrapper">
            <div class="element-box mb-3">
                <form id="attendanceSheetForm" method="post">
                    {% csrf_token %}
                    <h6 class="text-primary">Choose your preferred course to print out attendance slip</h6>
                    <div class="form-group col-8">
                        <label for="course">Courses</label>
                        <select class="form-control form-control-sm rounded bright" required name="course" id="course">
                            <option value="">Select Course</option>
                            {% for course in courses %}
                            <option value="{{ course }}">{{ course }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-buttons col-8" style="text-align:right">
                        <button class="btn btn-primary" type="submit">Download <i class="os-icon os-icon-download"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if user.person.is_staff %}
    <div class="col-sm-5">
        <div class="element-wrapper">
            <div class="element-box mb-3">
                <form action="{% url 'Attendance:upload_attendance_sheet' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h6 class="text-primary">Kindly choose your file to upload</h6>
                    <div class="input-group input-group-sm mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="file" id="file">
                            <label class="custom-file-label" for="file">Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-primary" id="upload">Upload <i class="os-icon os-icon-upload"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}


{% block ajax %}
$("#toast").fadeIn(3000);
$("#toast").fadeOut(3000);
{% endblock ajax %}