{% extends "base.html" %}

{% load static %}

{% block title %}
Settings
{% endblock title %}

{% block page_title %}
Profile Settings
{% endblock page_title %}

{% block date %}
{{ date }}
{% endblock date %}

{% block content %}

<div id="toast">
    {% for message in messages %}
    <div class="alert alert-info" role="alert"><strong>Message: </strong><i>{{ message }}</i></div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="user-profile compact">
            <div class="up-head-w" style="background-image:url({% static 'images/logo2.png' %});">
                <div class="up-main-info">
                    <h4 class="up-header">{{ user.person.full_name }}</h4>
                    <h6 class="up-sub-header">
                        {% if user.person.is_staff %}
                        {{ user.post }}
                        {% else %}
                        {{ user.matric_no }}
                        {% endif %}
                    </h6>
                </div>
            </div>
            <div class="up-controls">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="value-pair">
                            <div class="value badge badge-pill badge-success">Online</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="up-contents">
                <div class="m-b">
                    <div class="padded">
                        <div class="os-progress-bar primary">
                            <div class="bar-labels">
                                <div class="bar-label-left">
                                    <span>Full Name</span>
                                </div>
                                <div class="bar-label-right">
                                    <h6 class="info">{{ user.person.full_name }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="os-progress-bar primary">
                            <div class="bar-labels">
                                <div class="bar-label-left">
                                    <span>
                                        {% if user.person.is_staff %}
                                        Post
                                        {% else %}
                                        Matric No
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="bar-label-right">
                                    <h6 class="info">
                                        {% if user.person.is_staff %}
                                        {{ user.post }}
                                        {% else %}
                                        {{ user.matric_no }}
                                        {% endif %}
                                    </h6>
                                </div>
                            </div>
                        </div>
                        {% if not user.person.is_staff %}
                        <div class="os-progress-bar primary">
                            <div class="bar-labels">
                                <div class="bar-label-left">
                                    <span>Department</span>
                                </div>
                                <div class="bar-label-right">
                                    <h6 class="info">
                                        {{ user.programme.department.department_name }}
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="os-progress-bar primary">
                            <div class="bar-labels">
                                <div class="bar-label-left">
                                    <span>Programme</span>
                                </div>
                                <div class="bar-label-right">
                                    <h6 class="info">
                                        {{ user.programme.programme_name }}
                                    </h6>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="element-wrapper">
            <div class="element-box">
                <form action="{% url 'Attendance:update_image' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="element-info">
                        <div class="element-info-with-icon">
                            <div class="element-info-icon">
                                <div class="os-icon os-icon-ui-46"></div>
                            </div>
                            <div class="element-info-text">
                                <h5 class="element-inner-header">Upload Profile Picture</h5>
                            </div>
                        </div>
                    </div>
                    {% include 'form2.html' with form=image_form %}
                    <div class="form-group col-12" style="text-align:right">
                        <button class="btn btn-sm btn-primary" type="submit">Upload <i
                                class="os-icon os-icon-upload"></i></button>
                    </div>
                    <div>
                        <small class="text-danger">Image file should be jpeg, jpg or png and must not exceed
                            10mb</small>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="element-wrapper">
            <div class="element-box">
                <form action="{% url 'Attendance:update_password' %}" method="post">
                    {% csrf_token %}
                    <div class="element-info">
                        <div class="element-info-with-icon">
                            <div class="element-info-icon">
                                <div class="os-icon os-icon-ui-46"></div>
                            </div>
                            <div class="element-info-text">
                                <h5 class="element-inner-header">Update Password</h5>
                            </div>
                        </div>
                    </div>
                    {% include 'form2.html' with form=form %}
                    <div class="form-group col-8" style="text-align:right">
                        <button class="btn btn-primary" type="submit">Submit <i class="os-icon os-icon-send"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="element-wrapper">
            <div class="element-box">
                <form action="{% url 'Attendance:update_email' %}" method="post">
                    {% csrf_token %}
                    <div class="element-info">
                        <div class="element-info-with-icon">
                            <div class="element-info-icon">
                                <div class="os-icon os-icon-ui-46"></div>
                            </div>
                            <div class="element-info-text">
                                <h5 class="element-inner-header">Update Email</h5>
                            </div>
                        </div>
                    </div>
                    {% include 'form2.html' with form=email_form %}
                    <div class="form-group col-8" style="text-align:right">
                        <button class="btn btn-primary" type="submit">Submit <i class="os-icon os-icon-send"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        {% if user.person.is_staff %}
        <div class="element-wrapper">
            <div class="element-box">
                <div>
                    <div class="element-info">
                        <div class="element-info-with-icon">
                            <div class="element-info-icon">
                                <div class="os-icon os-icon-ui-46"></div>
                            </div>
                            <div class="element-info-text">
                                <h5 class="element-inner-header">Student Course Registration</h5>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-8">
                        <select class="form-control form-control-sm rounded bright" name="searchMethod"
                                id="searchMethod" required>
                            <option value="">Choose Upload Mode..</option>
                            <option value="single_record">Single Record</option>
                            <option value="multi_record">Multiple Records</option>
                        </select>
                    </div>
                    <form action="{% url 'Attendance:register_student' %}" method="post" id="single_record_tab">
                        {% csrf_token %}
                        <div class="form-group col-8">
                            <label><label for="matric_no">Matric No:</label> </label>
                            <input type="text" name="matric_no" placeholder="Matric No" required=""
                                   class="form-control form-control-sm rounded bright" id="matric_no">
                        </div>
                        <div class="form-group col-8">
                            <label><label for="course">Course:</label> </label>
                            <div class="form-group col-8">
                                <select class="form-control form-control-sm rounded bright" name="course" id="course"
                                        required>
                                    <option value="">Select Course..</option>
                                    {% for course in courses %}
                                    <option value="{{ course.course_code }}">{{ course.course_code }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-8">
                            <label><label for="semester">Semester:</label> </label>
                            <select class="form-control form-control-sm rounded bright" name="semester" id="semester"
                                    required>
                                <option value="">Select Semester..</option>
                                <option value="1st">1st Semester</option>
                                <option value="2nd">2nd Semester</option>
                            </select>
                        </div>
                        <div class="form-group col-8" style="text-align:right">
                            <button class="btn btn-primary" type="submit">Submit <i class="os-icon os-icon-send"></i>
                            </button>
                        </div>
                    </form>
                    <form action="{% url 'Attendance:upload_file' %}" method="post" id="multi_record_tab">
                        {% csrf_token %}
                        <div class="input-group input-group-sm mb-3">
                            <div class="custom-file col-10">
                                <input type="hidden" name="type" id="type" value="reg_student">
                            </div>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <div class="form-group col-10">
                                <input type="file" name="file" id="file"
                                       style="border: solid 2px #d1d1d182;border-radius: 20px;">
                            </div>
                            <div class="form-group col-10" style="text-align:right">
                                <button class="btn btn-sm btn-primary" type="submit">Upload <i
                                        class="os-icon os-icon-upload"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block ajax %}

$("#toast").hide();
$("#toast").fadeIn(3000);
$("#toast").fadeOut(3000);


$('#single_record_tab').hide();
$('#multi_record_tab').hide();


$('#searchMethod').change(function(){
if ($('#searchMethod').val() == "single_record"){
$('#single_record_tab').slideDown(300);
$('#multi_record_tab').slideUp(300);
} else {
$('#single_record_tab').slideUp(300);
$('#multi_record_tab').slideDown(300);
}
});

{% endblock ajax %}
