{% extends "base.html" %}

{% load static %}

{% block title %}
Settings
{% endblock title %}

{% block page_title %}
Profile Settings
{% endblock page_title %}

{% block date %}
{{ date }}
{% endblock date %}

{% block content %}

<div class="row">
    <div class="col-sm-5">
        <div class="user-profile compact">
            <div class="up-head-w" style="background-image:url({% static 'images/logo.png' %})">
                <div class="up-main-info">
                    <h2 class="up-header">{{ user.person.last_name }} {{ user.person.first_name }}</h2>
                    <h6 class="up-sub-header">
                        {% if user.person.is_staff %}
                        {{ user.post }}
                        {% else %}
                        {{ user.level }} Level
                        {% endif %}
                        at Dominion University
                    </h6>
                </div>
            </div>
            <div class="up-controls">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="value-pair">
                            <div class="value badge badge-pill badge-success">Online</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="up-contents">
                <div class="m-b">
                    <div class="padded">
                        <div class="os-progress-bar primary">
                            <div class="bar-labels">
                                <div class="bar-label-left">
                                    <span>Full Name</span>
                                </div>
                                <div class="bar-label-right">
                                    <h6 class="info">{{ user.person.last_name }} {{ user.person.first_name }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="os-progress-bar primary">
                            <div class="bar-labels">
                                <div class="bar-label-left">
                                    <span>
                                        {% if user.person.is_staff %}
                                        Staff ID
                                        {% else %}
                                        Matric No
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="bar-label-right">
                                    <h6 class="info">
                                        {% if user.person.is_staff %}
                                        {{ user.staff_id }}
                                        {% else %}
                                        {{ user.matric_no }}
                                        {% endif %}
                                    </h6>
                                </div>
                            </div>
                        </div>
                        {% if not user.person.is_staff %}
                        <div class="os-progress-bar primary">
                            <div class="bar-labels">
                                <div class="bar-label-left">
                                    <span>Department</span>
                                </div>
                                <div class="bar-label-right">
                                    <h6 class="info">
                                        {{ user.programme.department.department_name }}
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="os-progress-bar primary">
                            <div class="bar-labels">
                                <div class="bar-label-left">
                                    <span>Programme</span>
                                </div>
                                <div class="bar-label-right">
                                    <h6 class="info">
                                        {{ user.programme.programme_name }}
                                    </h6>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-7">
        <div class="element-wrapper">
            <div class="element-box">
                <form id="passwordForm" method="post">
                    {% csrf_token %}
                    <div class="element-info">
                        <div class="element-info-with-icon">
                            <div class="element-info-icon">
                                <div class="os-icon os-icon-ui-46"></div>
                            </div>
                            <div class="element-info-text">
                                <h5 class="element-inner-header">Update Password</h5>
                            </div>
                        </div>
                    </div>
                    <div id="toast"></div>
                    {% include 'form2.html' with form=form %}
                    <div class="form-group col-8" style="text-align:right">
                        <button class="btn btn-primary" type="submit">Submit <i class="os-icon os-icon-send"></i></button>
                    </div>
                </form>
            </div>
            <div class="element-box">
                <form action="{% url 'Attendance:update_image' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="element-info">
                        <div class="element-info-with-icon">
                            <div class="element-info-icon">
                                <div class="os-icon os-icon-ui-46"></div>
                            </div>
                            <div class="element-info-text">
                                <h5 class="element-inner-header">Upload Profile Picture</h5>
                            </div>
                        </div>
                    </div>
                    <div id="toast2">
                        {% for message in messages %}
                        <div class="alert alert-success" role="alert"><strong>Success!!! </strong>{{ message }}</div>
                        {% endfor %}
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="image" id="image">
                            <label class="custom-file-label" for="image">Choose Image</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-primary" type="submit">Upload <i class="os-icon os-icon-upload"></i></button>
                        </div>
                    </div>
                    <div>
                        <small class="text-danger">Image file must not be more than 10mb</small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block ajax %}
$("#toast").hide();

$("#toast2").fadeIn(3000);
$("#toast2").fadeOut(3000);

$('#passwordForm').submit(function(e) {
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: "{% url 'Attendance:update_password' %}",
        data:{
            password: $("#id_password").val(),
            confirm_password: $("#id_confirm_password").val(),
            csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
        },
        success: function(data){

            var toast = `
            <div class="${ data.color }" role="alert"><strong>${ data.msg }</strong></div>`
            $("#toast").html(toast);
            $("#toast").fadeIn(3000);
            $("#toast").fadeOut(3000);
        },
    });
});
{% endblock ajax %}
