{% extends "base.html" %}

{% block title %}
Track Student Attendance
{% endblock title %}

{% block page_title %}
Track Student Attendance
{% endblock page_title %}

{% block date %}
{{ date }}
{% endblock date %}

{% block content %}
<div class="row" style="{% if not student_record %}height:450px{% endif %}">
    <div class="col-sm-12">
        <div class="element-wrapper">
            <div class="element-box-tp">
                <div class="controls-above-table">
                    <div class="row">
                        <div class="col-sm-12" id="formDiv">
                            <form class="form-inline justify-content-sm-end" method="post" id="searchForm">
                                {% csrf_token %}
                                <select class="form-control form-control-sm rounded bright" name="searchMethod" id="searchMethod" required>
                                    <option value="">Search By..</option>
                                    <option value="matric_no">Matric No</option>
                                    <option value="name">Name</option>
                                </select>
                                <input class="form-control form-control-sm rounded bright"
                                       type="text" name="text" id="text" required>
                                <div class="form-group my-2">
                                    <button type="submit" class="btn btn-primary">Submit <i class="os-icon os-icon-send"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="table-responsive" id="table" style="max-height: 360px; overflow-y: auto;">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Matric No</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="tbody">
                        <tr>
                            <td colspan="3"><h6>No record currently available</h6></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block ajax %}
$("#tbody").addClass("animation");

$('#searchForm').submit(function(e) {
    e.preventDefault();
    $("#tbody").removeClass("animation");
    $.ajax({
        type: 'POST',
        url: "{% url 'Attendance:get_students' %}",
        data:{
            text: $("#text").val(),
            searchMethod: $("#searchMethod").val(),
            csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
        },
        success: function(data){
            $("#tbody").empty();
            if (data.students.length == 0) {
                temp = `<tr>
                            <td colspan="4"><h6>No record currently available</h6></td>
                        </tr>`;
                $("#tbody").append(temp);
                $("#tbody").addClass("animation");
            }
            else{
                $("#table").empty();
                temp = `<table class="table table-lightborder">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Matric No</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="tbody">

                            </tbody>
                        </table>`;
                $("#table").append(temp);
                for (var key in data.students){
                    tdata = `<tr>
                            <td><h6>${ data.students[key][1] }</h6></td>
                            <td><h6>${ data.students[key][2] }</h6></td>
                            <td>
                                <button type="button" class="btn btn-primary" id="${ data.students[key][0] }" onclick="viewRecord(this)">View</button>
                            </td>
                        </tr>`;
                    $("#tbody").append(tdata);
                }
            }
            $("#tbody").addClass("animation");
        },
        error: function(data){
            $("#tbody").empty();
            temp = `<tr>
                        <td colspan="3"><h6>No record currently available</h6></td>
                    </tr>`;
            $("#tbody").append(temp);
            $("#tbody").addClass("animation");
        },
    });
});
{% endblock ajax %}


{% block javascript %}
function viewRecord(e) {
    $("#tbody").removeClass("animation");
    $.ajax({
        type: 'POST',
        url: "{% url 'Attendance:get_student_attendance' %}",
        data:{
            id: e.id,
            csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
        },
        success: function(data){
            if (data.zipped.length == 0) {
                $("#tbody").empty();
                temp = `<tr>
                            <td colspan="4"><h6>No record currently available</h6></td>
                        </tr>`;
                $("#tbody").append(temp);
                $("#tbody").addClass("animation");
            }
            else{
                $("#table").empty();
                temp = `<table class="table table-lightborder">
                            <thead>
                            <tr>
                                <th>Course</th>
                                <th class="text-center">No Of Times Present</th>
                                <th class="text-center">No Of Times Absent</th>
                                <th class="text-center">Attendance(%)</th>
                            </tr>
                            </thead>
                            <tbody id="tbody">

                            </tbody>
                        </table>`;
                $("#table").append(temp);
                for (var key in data.zipped){
                        tdata = `<tr>
                            <td><h6>${ data.zipped[key][0] }</h6></td>
                            <td class="text-center text-success">${ data.zipped[key][1] }</td>
                            <td class="text-center text-danger">${ data.zipped[key][2] }</td>
                            <td class="text-center text-info">${ data.zipped[key][3] }%</td>
                        </tr>`;
                    $("#tbody").append(tdata);
                }
            }
            $("#tbody").addClass("animation");
        },
        error: function(data){
            $("#tbody").empty();
            temp = `<tr>
                        <td colspan="3"><h6>No record currently available</h6></td>
                    </tr>`;
            $("#tbody").append(temp);
            $("#tbody").addClass("animation");
        },
    });
};

{% endblock javascript %}