{% extends "base.html" %}

{% block title %}
Attendance Admin
{% endblock title %}

{% block page_title %}
Attendance Admin
{% endblock page_title %}

{% block date %}
{{ date }}
{% endblock date %}

{% block content %}
<div id="toast">
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
</div>

<div class="row" style="{% if not student_record %}height:730px{% endif %}">
    <div class="col-sm-6">
        {% if staff %}
        <div class="element-wrapper">
            <div class="element-box mb-3">
                <form action="{% url 'Attendance:upload_file' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="element-info">
                        <div class="element-info-with-icon">
                            <div class="element-info-icon">
                                <div class="os-icon os-icon-file"></div>
                            </div>
                            <div class="element-info-text">
                                <h5 class="element-inner-header">Upload Spreadsheet</h5>
                            </div>
                        </div>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <div class="custom-file col-10">
                            <select class="form-control form-control-sm rounded bright" required name="type" id="type">
                                <option value="">Select...</option>
                                <option value="student">Students</option>
                                <option value="staff">Staff</option>
                                <option value="course">Courses</option>
                                <option value="programme">Programmes</option>
                                <option value="department">Departments</option>
                                <option value="faculty">Faculties</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <div class="form-group col-10">
                            <input type="file" name="file" id="file"
                                   style="border: solid 2px #d1d1d182;border-radius: 20px;">
                        </div>
                        <div class="form-group col-10" style="text-align:right">
                            <button class="btn btn-sm btn-primary" type="submit">Upload <i
                                    class="os-icon os-icon-upload"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
        <div class="element-wrapper">
            <div class="element-box">
                <div>
                    <div class="element-info">
                        <div class="element-info-with-icon">
                            <div class="element-info-icon">
                                <div class="os-icon os-icon-ui-46"></div>
                            </div>
                            <div class="element-info-text">
                                <h5 class="element-inner-header">Student Course Registration</h5>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-8">
                        <select class="form-control form-control-sm rounded bright" name="searchMethod"
                                id="searchMethod" required>
                            <option value="">Choose Upload Mode..</option>
                            <option value="single_record">Single Record</option>
                            <option value="multi_record">Multiple Records</option>
                        </select>
                    </div>
                    <form action="{% url 'Attendance:register_student' %}" method="post" id="single_record_tab">
                        {% csrf_token %}
                        <div class="form-group col-8">
                            <label><label for="matric_no">Matric No:</label> </label>
                            <input type="text" name="matric_no" placeholder="Matric No" required=""
                                   class="form-control form-control-sm rounded bright" id="matric_no">
                        </div>
                        <div class="form-group col-8">
                            <label><label for="course">Course:</label> </label>
                            <div class="form-group col-8">
                                <select class="form-control form-control-sm rounded bright" name="course" id="course"
                                        required>
                                    <option value="">Select Course..</option>
                                    {% for course in courses %}
                                    <option value="{{ course.course_code }}">{{ course.course_code }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-8">
                            <label><label for="semester">Semester:</label> </label>
                            <select class="form-control form-control-sm rounded bright" name="semester" id="semester"
                                    required>
                                <option value="">Select Semester..</option>
                                <option value="1st">1st Semester</option>
                                <option value="2nd">2nd Semester</option>
                            </select>
                        </div>
                        <div class="form-group col-8" style="text-align:right">
                            <button class="btn btn-primary" type="submit">Submit <i class="os-icon os-icon-send"></i>
                            </button>
                        </div>
                    </form>
                    <form action="{% url 'Attendance:upload_file' %}" method="post" id="multi_record_tab">
                        {% csrf_token %}
                        <div class="input-group input-group-sm mb-3">
                            <div class="custom-file col-10">
                                <input type="hidden" name="type" value="reg_student">
                            </div>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <div class="form-group col-10">
                                <input type="file" name="file"
                                       style="border: solid 2px #d1d1d182;border-radius: 20px;">
                            </div>
                            <div class="form-group col-10" style="text-align:right">
                                <button class="btn btn-sm btn-primary" type="submit">Upload <i
                                        class="os-icon os-icon-upload"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% if staff %}
    <div class="col-sm-6">
        <div class="element-wrapper">
            <div class="element-box">
                <form action="{% url 'Attendance:add_student' %}" method="post">
                    {% csrf_token %}
                    <div class="element-info">
                        <div class="element-info-with-icon">
                            <div class="element-info-icon">
                                <div class="os-icon os-icon-user-plus"></div>
                            </div>
                            <div class="element-info-text">
                                <h5 class="element-inner-header">Add New Student</h5>
                            </div>
                        </div>
                    </div>
                    {% include 'form2.html' with form=student_form %}
                    <div class="form-group col-8" style="text-align:right">
                        <button class="btn btn-primary" type="submit">Submit <i class="os-icon os-icon-send"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="element-wrapper">
            <div class="element-box">
                <form action="{% url 'Attendance:add_staff' %}" method="post">
                    {% csrf_token %}
                    <div class="element-info">
                        <div class="element-info-with-icon">
                            <div class="element-info-icon">
                                <div class="os-icon os-icon-user-plus"></div>
                            </div>
                            <div class="element-info-text">
                                <h5 class="element-inner-header">Add New Staff</h5>
                            </div>
                        </div>
                    </div>
                    {% include 'form2.html' with form=staff_form %}
                    <div class="form-group col-12" style="text-align:right">
                        <button class="btn btn-primary" type="submit">Submit <i class="os-icon os-icon-send"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}


{% block ajax %}
$("#toast").fadeIn(3000);
$("#toast").fadeOut(3000);
{% endblock ajax %}