{% extends "auth.html" %}

{% block title %}
Upload Spreadsheet
{% endblock title %}

{% block page_title %}
Upload Spreadsheet
{% endblock page_title %}


{% block content %}
<div id="toast">
    {% for message in messages %}
    <div class="alert alert-info" role="alert"><strong>Message: </strong><i>{{ message }}</i></div>
    {% endfor %}
</div>
<div class="element-wrapper">
    <div class="">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-group input-group-sm mb-3">
                <div class="custom-file col-10">
                    <select class="form-control form-control-sm rounded bright" required name="type" id="type">
                        <option value="">Select...</option>
                        <option value="reg_student">Register Students</option>
                        <option value="student">Students</option>
                        <option value="staff">Staff</option>
                        <option value="course">Courses</option>
                        <option value="programme">Programmes</option>
                        <option value="department">Departments</option>
                        <option value="faculty">Faculties</option>
                        <option value="allocate">Allocate Courses</option>
                    </select>
                </div>
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="form-group col-10">
                    <input type="file" name="file" id="file"
                           style="border: solid 2px #d1d1d182;border-radius: 20px;">
                </div>
                <div class="form-group col-10" style="text-align:right">
                    <button class="btn btn-sm btn-primary" type="submit">Upload <i
                            class="os-icon os-icon-upload"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block ajax %}
$("#toast").fadeIn(3000);
$("#toast").fadeOut(3000);
{% endblock ajax %}