{% extends "auth.html" %}

{% block title %}
Upload Spreadsheet
{% endblock title %}

{% block page_title %}
Upload Spreadsheet
{% endblock page_title %}


{% block content %}
<div class="mx-4" id="toast">
    {% for message in messages %}
    <div class="alert alert-danger" role="alert"><strong>Error! </strong>{{ message }}</div>
    {% endfor %}
</div>
<div class="element-wrapper">
    <div class="element-box">
        <form action="{% url 'Attendance:upload_file' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="element-info">
                <div class="element-info-with-icon">
                    <div class="element-info-icon">
                        <div class="os-icon os-icon-ui-46"></div>
                    </div>
                    <div class="element-info-text">
                        <h5 class="element-inner-header">Upload Sheet</h5>
                    </div>
                </div>
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="custom-file">
                    <select class="form-control form-control-sm rounded bright" required name="type" id="type">
                        <option value="">Select...</option>
                        <option value="reg_student">Register Students</option>
                        <option value="student">Students</option>
                        <option value="staff">Staff</option>
                        <option value="course">Courses</option>
                        <option value="programme">Programmes</option>
                        <option value="department">Departments</option>
                        <option value="faculty">Faculties</option>
                    </select>
                </div>
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="file" id="file">
                    <label class="custom-file-label" for="file">Choose file</label>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-sm btn-primary">Upload <i class="os-icon os-icon-upload"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block ajax %}
$("#toast").fadeIn(3000);
$("#toast").fadeOut(3000);
{% endblock ajax %}