<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Examination Slip</title>
</head>
<style>
  body {
    color:cream;
    margin: 0px;
    padding: 0px;
  }
  .center{
    text-align:center;
  }
  .left{
    text-align:left;
  }
  .right{
    text-align:right;
  }
  .color{
    color:#123050;
  }
  .tpad{
    padding: 2px;
  }
  .tborder{
    border: solid 1px #123050;
    border-collapse: collapse;
  }
  .table{
    margin:0% 25%;
  }
</style>
<body>
<main>
    <div class="center">
        <img src="Attendance//static/images/DU_LOGO.png" alt="Logo">
    </div>
    <div class="center">
        <h1 class="color">ATTENDANCE STATUS SLIP</h1>
    </div>
    <div class="table center">
        <table>
            <tbody>
                <tr>
                    <td class="tpad">
                        <b class="color">Name: </b>
                        <strong>KOLAWOLE DENNIS OLUKAYODE</strong>
                    </td>
                    <td class="tpad">
                        <b class="color">Matric No: </b>
                        <strong>DU0306</strong>
                    </td>
                    <td class="tpad">
                        <b class="color"> Programme: </b>
                        <strong>COMPUTER SCIENCE</strong>
                    </td>
                </tr>
                <tr>
                    <td class="tpad">
                        <b class="color"> Department: </b>
                        <strong>COMPUTER SCIENCES</strong>
                    </td>
                    <td class="tpad">
                        <b class="color">Faculty: </b>
                        <strong>FACULTY OF COMPUTING AND APPLIED SCIENCES</strong>
                    </td>
                    <td class="tpad">
                        <b class="color">Date: </b>
                        <strong>Feb. 9, 2023</strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table center">
        <table>
            <thead>
                <tr class="tborder">
                    <th class="color tborder tpad">Course Code</th>
                    <th class="color tborder tpad">Percentage</th>
                    <th class="color tborder tpad">Status</th>
                </tr>
            </thead>
            <tbody>
                
                <tr class="tborder">
                    <td class="tborder tpad"><b>CSC 305</b></td>
                    <td class="tborder tpad"><b>0%</b></td>
                    
                    <td class="tborder tpad" style="color:tomato"><b>Not Eligible</b></td>
                    
                </tr>
                
                <tr class="tborder">
                    <td class="tborder tpad"><b>CSC 303</b></td>
                    <td class="tborder tpad"><b>0%</b></td>
                    
                    <td class="tborder tpad" style="color:tomato"><b>Not Eligible</b></td>
                    
                </tr>
                
                <tr class="tborder">
                    <td class="tborder tpad"><b>CSC 317</b></td>
                    <td class="tborder tpad"><b>0%</b></td>
                    
                    <td class="tborder tpad" style="color:tomato"><b>Not Eligible</b></td>
                    
                </tr>
                
                <tr class="tborder">
                    <td class="tborder tpad"><b>CSC 301</b></td>
                    <td class="tborder tpad"><b>0%</b></td>
                    
                    <td class="tborder tpad" style="color:tomato"><b>Not Eligible</b></td>
                    
                </tr>
                
                <tr class="tborder">
                    <td class="tborder tpad"><b>CSC 321</b></td>
                    <td class="tborder tpad"><b>0%</b></td>
                    
                    <td class="tborder tpad" style="color:tomato"><b>Not Eligible</b></td>
                    
                </tr>
                
            </tbody>
        </table>
    </div>
</main>
</body>
</html>